/*
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Reset End */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
    margin-top: 15px;
}

svg {
    filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(307deg) brightness(107%) contrast(97%);
}

a {
    text-decoration: inherit;
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 6;
    background-color: rgb(86, 109, 109);
    border: 1px solid black;
}

.nav {
    padding-top: 20px;
}

.nav > ul > li {
    display: grid;
    grid-template-columns: 30px 150px;
    height: 30px;
    font-weight: 500;
    gap: 14px;
    align-items: center;
    color: white;
}

.nav > ul > li:first-child {
    grid-template-columns: 60px 150px;
    font-size: 1.5rem;
    margin-bottom: 45px;
    margin-top: 0;
    margin-left: -15px;
}

.nav > ul > li:first-child > div {
    margin-left: -16px;
}

.nav > ul > li:nth-child(7) {
    margin-bottom: 70px;
}

.nav > ul > li > div > a {
    transition:.2s;
}

.nav > ul > li > div > a:hover {
    font-size: 1.2em;
    color: black;
}

.header {
    grid-column: 2;
    display: grid;
    grid-template-rows: 60px 80px;
    background-color: #a37c7c;
    border: 1px solid black;
}

.header > .top-bar {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    gap: 8px;
}

.top-bar > #notification-button {
    margin-left: auto;
}

.header > .bottom-bar {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    gap: 8px;
}

.bottom-bar > button:first-of-type {
    margin-left: auto;
}

.main-content {
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #f0f0f0;
    padding: 30px;
    gap: 10px;
    border: 1px solid black;
}

.your-projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-top: 18px;
    margin-right: 30px;
}

.card {
    background-color: white;
    border-radius: 5px;
    height: 240px;
    padding: 8px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 13px;
    position: relative;
}

.card > .icons {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.announcements-container { 
    margin-top: 18px;
    background-color: white;
    border-radius: 5px;
    height: 380px;
    padding: 20px;
    font-size: .8rem;
    display: grid;
    align-items: center;
    gap: 15px;
}

.trending {
    margin-top: 30px
}